@page "/miHistoria"

<PageTitle>MiHistoria</PageTitle>

<div class="alert alert-secondary mt-4">
    
    <h3>Mi Historia </h3>

    <span >
        Lemme tell you something...
      
    </span>
  
</div>

<section style="display:flex">
    <div class="card" style="width: 20rem;  margin:10px";>
        <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/80273512?s=200&v=4" class="card-img-top" />
            <h5 class="card-title">Formacion</h5>
            <p class="card-text">Conoce acerca de mi formación académica y educación</p>
            <a href="#" class="btn btn-primary">Leer más</a>
        </div>
            
        </div>
    <div class="card" style="width: 20rem; margin: 10px">
        <div class="card-body">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/WWE_official_logo.svg/1200px-WWE_official_logo.svg.png" class="card-img-top" />
            <h5 class="card-title">Free Time</h5>
            <p class="card-text">Conoce un poco acerca de mis aficiones</p>
            <a href="#" class="btn btn-primary">Leer más</a>
        </div>

    </div>
    <div class="card" style="width: 20rem; margin: 10px">
        <div class="card-body">
            <img src="https://www.dice.com/binaries/medium/content/gallery/dice/insights/2022/09/shutterstock_2079730714.jpg" class="card-img-top" />
            <h5 class="card-title">My Carrer</h5>
            <p class="card-text">Conoce mi historia como Software Engineer</p>
            <a href="#" class="btn btn-primary">Leer más</a>
        </div>

    </div>
    <ul>Lista sin orden</ul>
    <ol>Lista de orden</ol>
    <table> Border = "1px" //Tabla y borde
        <tr> //fila
            <td>Mes</td> //columnas
            <td>Ventas</td>
        </tr>
            <td>Empleado</td>
            <td>Total</td>
        </table>
</section>


